USE [master]
GO
/****** Object:  Database [managesale]    Script Date: 21/5/2023 1:28:32 PM ******/
CREATE DATABASE [managesale]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [managesale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [managesale]
GO
USE [managesale]
GO
/****** Object:  Table [dbo].[phones]    Script Date: 21/5/2023 1:28:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phones](
	[namephone] [varchar](100) NULL,
	[quantityphone] [int] NULL,
	[pricephone] [float] NULL,
	[ratingphone] [float] NULL,
	[urlphone] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/5/2023 1:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] NOT NULL,
	[rolename] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/5/2023 1:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[gmail] [nvarchar](100) NULL,
	[userpassword] [nvarchar](100) NULL,
	[role_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_htk_id_sanpham] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_htk_id_sanpham]
GO
USE [master]
GO
